{%- comment -%}
  - This code renders one discussion box on the syllabus.
  - See discussions.yml for how to feed information into this template.
{%- endcomment -%}

{%- comment -%}
  If you don't want discussion boxes to alternate colors per week,
  then remove class="{{ include.is_even }}" below.
{%- endcomment -%}
<td class="{{ include.is_even }}" rowspan="{{ include.rowspan }}">

{%- comment -%}
  Render title with or without number, depending on the "nonumber" attribute.
{%- endcomment -%}
{%- if include.element.nonumber -%}
  {{ include.element.title }}
{%- elsif include.element.title -%}
  {{ include.number }}. {{ include.element.title }}
{%- endif -%}

{%- if include.element.worksheet -%}
  <br>
  <a href="{{ include.element.worksheet }}">Worksheet</a>
{%- endif -%}

{%- if include.element.solutions -%}
  <br>
  <a href="{{ include.element.solutions }}">Solutions</a>
{%- endif -%}

{%- if include.element.walkthrough -%}
  <br>
  <a href="{{ include.element.walkthrough }}">Walkthrough Video</a>
{%- endif -%}
</td>
