<td rowspan="{{ include.rowspan }}">
{%- if include.element.nonumber -%}
  {{ include.element.title }}
{%- elsif include.element.title -%}
  Lab {{ include.number }} {{ include.element.title }}
  <br>
  (due {{ include.element.due }})
{%- elsif include.element.due -%}
  Lab {{ include.number }}
  <br>
  (due {{ include.element.due }})
{%- endif -%}

{%- if include.element.lab -%}
<br>
<a href="{{ include.element.lab }}">Lab</a>
{%- endif -%}

{%- if include.element.solutions -%}
<br>
<a href="{{ include.element.solutions }}">Solutions</a>
{%- endif -%}

{%- if include.element.selfGrade -%}
<br>
<a href="{{ include.element.selfGrade }}">Self-Grade Form</a>
{%- endif -%}
</td>