<td class="{{ include.is_even }}" rowspan="{{ include.rowspan }}">
{%- if include.element.nonumber -%}
  {{ include.element.title | markdownify }}
{%- elsif include.element.title -%}
  {{ include.number }}. {{ include.element.title }}
{%- endif -%}
{%- if include.element.recording and include.element.edThread -%}
  <br>
  <a href="{{ include.element.edThread | relative_url }}">Ed Thread</a> / <a href="{{ include.element.recording }}">Recording</a>
{%- elsif include.element.edThread -%}
  <br>
  <a href="{{ include.element.edThread | relative_url }}">Ed Thread</a>
{%- elsif include.element.recording -%}
  <br>
  <a href="{{ include.element.recording }}">Recording</a>
{%- endif -%}
</td>